[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Any packages you need can go here.
# For a minimal file, you can leave this empty.

[requires]
python_version = "3.12"